<hr />
<h5>On The Web</h5>
@Html.Partial("_SocialLinks")
<hr/>
<h5>Disclaimer</h5>
Some of the links, mostly book links, on this site are “affiliate links.” This means if you use the link, I will receive an affiliate commission. I only use affiliate links on products that I personally use or recommend. 