<ul class="list-unstyled">
    <li><a href="https://twitter.com/phillipsj73"><i class="fab fa-twitter"></i> Twitter (phillipsj73)</a></li>
    <li><a href="https://github.com/phillipsj"><i class="fab fa-github"></i> GitHub (phillipsj)</a></li>
    <li><a href="https://www.buymeacoffee.com/aQPnJ73O8"><i class="fas fa-coffee"></i> Buy me a coffee</a></li>
    <li><a href="http://stackoverflow.com/users/490170/jamie"><i class="fab fa-stack-overflow"></i> Stack Overflow (Jamie)</a></li>
    <li><a href="https://www.linkedin.com/in/jamie-phillips-695927b0"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="http://www.goodreads.com/phillipsj"><i class="fa fa-book"></i> Goodreads (phillipsj)</a></li>
</ul>