<ul class="list-unstyled">
    <li><a href="https://twitter.com/phillipsj73"><i class="fa fa-twitter"></i> Twitter (phillipsj73)</a></li>
    <li><a href="https://github.com/phillipsj"><i class="fa fa-github"></i> GitHub (phillipsj)</a></li>
    <li><a href="http://stackoverflow.com/users/490170/jamie"><i class="fa fa-stack-overflow"></i> Stack Overflow (Jamie)</a></li>
    <li><a href="https://www.linkedin.com/in/jamie-phillips-695927b0"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="http://www.goodreads.com/phillipsj"><i class="fa fa-book"></i> Goodreads (phillipsj)</a></li>
</ul>