Title: About
Image: images/water.jpg
---

<p>Hello, my name is Jamie Phillips.</p>
<p>I mainly develop using Microsoft C#, but of course as a web developer I do a little bit of everything. I have a strong interest in Python and dynamic languages in general. I find myself diving more into build automation and open source.</p>
<p>I have profiles scattered around the web at the following sites:</p>
@Html.Partial("_SocialLinks")
