Title: About
Image: images/water.jpg
---

<p>Hello, my name is Jamie Phillips.</p>
<p>Jamie Phillips is a Senior Software Development Engineer, and works remotely from East Tennessee. He has been working with .NET since 2007 after discovering .NET development in graduate school. Jamie's Geology degree has given him an appreciation for large systems and processes which has created keen interest in Solutions Architecture, DevOps, and the Cloud. During the day he works on Windows, but at night he is all about Linux.</p>
<p>I have profiles scattered around the web at the following sites:</p>
@Html.Partial("_SocialLinks")
