Title: Services
Image: images/code.jpg
---
<h1>Services</h1>
<p>I have decided to start offering services in a very limited capacity. I am looking for small, interesting engagements related to the following topics.</p>
<h4>List of Services</h4>
<ul>
    <li>Build Automation</li>
    <li>Cake Addin Creation</li>
    <li>Azure PaaS Products</li>
    <li>Development Coaching</li>
    <li>Workshops: Cake, Builds, and Azure</li>
</ul>
<h2>Contact Info</h2>
<p>Current prefered contact is direct messages on <a href="https://twitter.com/phillipsj73"><i class="fab fa-twitter"></i> Twitter</a> or <a href="https://www.linkedin.com/in/jamie-phillips-695927b0"><i class="fab fa-linkedin"></i> LinkedIn</a>. I am looking to add a contact form using Azure Functions; expect that blog post in the future.</p>